body {
  margin: 0;
  background-color: #000;

  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-style: italic;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: inline-block;
}

.grid {
  margin: auto;
  display: grid;

  background-image: url("../img/scratcha-bg.jpg");
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.75rem;
  }

  .grid {
    grid-template-columns: repeat(5, 19vw);
    grid-template-rows: repeat(5, 19vw);
    grid-gap: 1.25vw;
  }
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 1rem;
  }

  .grid {
    grid-template-columns: repeat(5, 105px);
    grid-template-rows: repeat(5, 105px);
    grid-gap: 5px;
  }
}

.card {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  background-color: #00000055;
  color: #FFF;
}

.card-selected {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  background-color: #FFF9;
  color: #000;
}


@media (hover: hover) {
  .card:hover {
    background-color: #555555AA;
  }
}

.marquee {
  text-align: center;
  background-color: black;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
